:root {
  --grey-light-1: #faf9f9;
  --grey-light-2: #f4f2f2;
  --grey-light-3: #f0eeee;
  --grey-light-4: #ccc;
  --back-color: rgb(0, 0, 0);
  --grey-dark-1: #333;
  --grey-dark-2: #777;
  --grey-dark-3: #999;
  --white: #fff;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06); }

* {
  margin: 0;
  padding: 0; }

body {
  background: black;
  color: white;
  height: 100%;
  width: 100%; }

.logo {
  line-height: 100px;
  color: var(--white);
  float: left;
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'Cinzel', serif; }

.menu {
  float: right;
  line-height: 100px;
  padding: 0 30px 0 10px; }

.menu a {
  color: var(--white);
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.4s; }

.show-menu-btn,
.hide-menu-btn {
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none; }

.show-menu-btn {
  float: right;
  padding: 0px 40px;
  color: var(--white); }

.show-menu-btn i {
  line-height: 100px; }

.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
  color: var(--grey-light-4); }

#chk {
  position: absolute;
  visibility: hidden;
  z-index: -1111; }

.content {
  padding: 0 20px; }

.content img {
  width: 100%;
  max-width: 700px;
  margin: 20px 0; }

.content p {
  text-align: justify; }

.header-shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px, rgba(0, 0, 0, 0.12) 0px 2px 10px 0px; }

@media screen and (max-width: 900px) {
  .show-menu-btn,
  .hide-menu-btn {
    display: block; }
  .menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #333;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s; }
  .menu a {
    display: block;
    padding: 20px; }
  .hide-menu-btn {
    position: absolute;
    top: 40px;
    right: 40px;
    color: var(--white); }
  #chk:checked ~ .menu {
    right: 0; } }

.header {
  position: fixed;
  font-family: 'Domine', serif;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100px;
  padding: 0 20px;
  background-color: rgba(1, 1, 1, 0.3);
  color: rgba(1, 1, 1, 0.3); }

.image-section {
  height: 100%;
  vertical-align: middle;
  clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .image-section__text-box {
    font-family: 'Bebas+Neue', serif;
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .image-section__logo-box {
    font-family: 'Bebas+Neue', serif; }
    .image-section__logo-box img {
      width: 100%; }
