:root {
  --grey-light-1: #faf9f9;
  --grey-light-2: #f4f2f2;
  --grey-light-3: #f0eeee;
  --grey-light-4: #ccc;
  --back-color: rgb(0, 0, 0);
  --grey-dark-1: #333;
  --grey-dark-2: #777;
  --grey-dark-3: #999;
  --white: #fff;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06); }

* {
  margin: 0;
  padding: 0; }

html {
  font-family: georgia, serif;
  font-size: 62.5%;
  /*
    @include respond(tab-land) {
        //width <900 ?
        font-size: 56.25%; //1rem = 9 px; 9/16
    }

    @include respond(tab-port) {
        //width < 600 ?
        font-size: 50%; //1rem = 8 px; 8/16= 50%
    }

    @include respond(big-desktop) {
        font-size: 75%; //1rem=12, 12/16
    }
*/ }

body {
  background: black;
  color: white;
  height: 100%;
  width: 100%;
  /*
    @include respond(tab-port) {
        padding: 0;
    }
*/ }

/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/
.logo {
  line-height: 100px;
  color: var(--white);
  float: left;
  letter-spacing: 0.2rem;
  padding: 0 10px 0 30px;
  font-size: 25px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Roboto+Slab", serif;
  letter-spacing: 0.4rem; }
  .logo img {
    font-size: 10px;
    display: block;
    width: 30px;
    height: 30px;
    float: right;
    padding: 30px 10px; }

.menu {
  float: right;
  line-height: 100px;
  padding: 0 10px 0 10px;
  font-family: georgia, serif;
  letter-spacing: 0.1rem;
  font-size: 15px; }

.menu a {
  color: var(--white);
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  transition: 0.4s;
  border-radius: 100px; }

.show-menu-btn,
.hide-menu-btn {
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none; }

.show-menu-btn {
  float: right;
  padding: 0px 40px;
  color: var(--white); }

.show-menu-btn i {
  line-height: 100px; }

.menu a:hover {
  top: 100%;
  left: 0;
  width: 100%;
  height: 40px;
  color: var(--grey-dark-3);
  background: #fff;
  -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-20px);
  transform: translateY(-20px); }

.show-menu-btn:hover,
.hide-menu-btn:hover {
  color: var(--grey-dark-3); }

#chk {
  position: absolute;
  visibility: hidden;
  z-index: -1111; }

.content {
  padding: 0 20px; }

.content img {
  width: 100%;
  max-width: 700px;
  margin: 20px 0; }

.content p {
  text-align: justify; }

@media screen and (max-width: 900px) {
  .show-menu-btn,
  .hide-menu-btn {
    display: block; }
  .menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #333;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s; }
  .menu a {
    display: block;
    padding: 20px; }
  .hide-menu-btn {
    position: absolute;
    top: 40px;
    right: 40px;
    color: var(--white); }
  #chk:checked ~ .menu {
    right: 0; } }

.composition {
  position: relative; }
  .composition__photo {
    width: 90%;
    border-radius: 2px;
    position: absolute;
    z-index: 0;
    transition: all 0.2s;
    outline-offset: 2rem;
    margin: -150px 0 0 0;
    box-shadow: -2rem 2.5rem 2rem rgba(251, 251, 251, 0.15); }
    .composition__photo--p3 {
      left: 10%;
      top: 10rem; }
    .composition__photo:hover {
      transform: scale(1.05) translateY(-0.5rem);
      background-size: cover;
      background-blend-mode: overlay; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.btn-text:link, .btn-text:visited {
  font-size: 20px;
  color: #3475A9;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #3475A9;
  margin-top: 10px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #3475A9;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(55, 68, 79, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(55, 68, 79, 0.15);
  transform: translateY(0); }

ul {
  list-style: none;
  padding: 4px;
  font-size: 13px;
  letter-spacing: 0.2rem; }

footer {
  background-color: #000;
  color: #bbb;
  line-height: 1.5; }

footer a {
  text-decoration: none;
  transition: 0.4s;
  color: #eee;
  font-family: "Roboto+Slab", serif; }
  footer a img {
    font-size: 10px;
    width: 30px;
    height: 30px;
    padding: 0 10px; }

.ft-title {
  color: #fff;
  font-family: "Merriweather", serif;
  font-size: 1.775rem;
  padding-bottom: 0.625rem;
  letter-spacing: 0.2rem; }

/* Sticks footer to bottom */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

.container {
  flex: 1; }

.ft-main-logo {
  padding: 1.25rem;
  min-width: 100%;
  cursor: pointer; }

.ft-main-logo li {
  font-size: 3rem;
  list-style: none;
  padding: 0 0 40px 0; }

/* Footer main */
.ft-main {
  padding: 1.25rem 1.875rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px #333 solid; }

@media only screen and (min-width: 29.8125rem) {
  .ft-main {
    justify-content: space-evenly; } }

@media only screen and (min-width: 77.5rem) {
  .ft-main {
    justify-content: space-evenly; } }

.ft-main-item {
  padding: 1.25rem;
  min-width: 12.5rem; }
  .ft-main-item a:hover {
    text-decoration: none;
    color: var(--grey-dark-3); }

/* Footer main | Newsletter form */
form {
  display: flex;
  flex-wrap: wrap;
  padding: 0 40px 0 40px; }

input[type="email"] {
  border: 0;
  padding: 0.625rem;
  margin-top: 0.3125rem; }

input[type="submit"] {
  background-color: #00d188;
  color: #fff;
  cursor: pointer;
  border: 0;
  padding: 0.625rem 0.9375rem;
  margin-top: 0.3125rem; }

/* Footer social */
.ft-social {
  padding: 0 1.875rem 1.25rem; }

.ft-social-list {
  display: flex;
  justify-content: center;
  border-top: 1px #122 solid;
  padding-top: 1.25rem; }
  .ft-social-list a:hover {
    text-decoration: none;
    color: var(--grey-dark-3); }

.ft-social-list li {
  margin: 0.5rem;
  font-size: 2.25rem;
  padding: 5px; }

/* Footer legal */
.ft-legal {
  padding: 0.9375rem 1.875rem;
  background-color: #000; }

.ft-legal-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap; }
  .ft-legal-list a:hover {
    text-decoration: none;
    color: var(--grey-dark-3); }

.ft-legal-list li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap; }

/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
  flex: 1; }

nav {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100px;
  transition: background-color 1s ease-out; }

nav span {
  font-weight: 600;
  letter-spacing: 0.085em; }

nav.scroll {
  background-color: #000;
  color: #eef; }

.image-section {
  height: 100%;
  vertical-align: middle;
  font-family: georgia, serif;
  clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .image-section__text-box {
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .image-section__logo-box img {
    width: 100%; }

.section-about {
  background-color: car(--grey-dark-3);
  padding: 3rem 0 25rem; }

body {
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.5; }

.heading-primary {
  color: var(--white);
  text-transform: uppercase;
  font-family: georgia, serif;
  backface-visibility: hidden;
  margin-top: 30rem;
  margin-bottom: 2rem; }
  .heading-primary--main {
    display: block;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 3rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 1.3rem;
    animation: moveInRight 1s ease-out;
    margin-bottom: 5rem; }

.heading-primary a {
  font-size: 45px;
  color: #fff;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

.heading-primary a:hover {
  font-size: 55px; }

.fa-angle-double-down {
  padding: 10px;
  vertical-align: 60%;
  transition: all .2s ease-in-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #FEFBFF, #3475A9);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem; }

.heading-tertiary {
  font-size: 20px;
  font-weight: 700;
  padding: 30px 0 0 0;
  text-transform: uppercase;
  letter-spacing: .2rem; }

.paragraph {
  font-size: 15px;
  letter-spacing: .2rem; }

.heading-third {
  font-size: 45px;
  color: #fff;
  padding: 100px;
  text-align: center; }

.row {
  max-width: 120rem;
  margin: 0 auto;
  /*
    @include respond(tab-port) {
        max-width: 50rem;
        padding: 0 3rem;
   }
   */ }
  .row:not(:last-child) {
    margin-bottom: var(--gutter-vertical);
    /*
    @include respond(tab-port) {
       margin-bottom: $gutter-vertical-small;
     }
    */ }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left;
    /*
    @include respond(tab-port) {
        width: 100% !important;
    }
    */ }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 15rem;
      /*
        @include respond(tab-port) {
         margin-right: 0;
         margin-bottom: $gutter-vertical-small;
       }
    */ }
  .row .col-1-of-2 {
    width: calc((100% - 15rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 15rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 15rem) / 3) + 15rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 15rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 15rem) / 4) + 15rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 15rem) / 4) + 2 * 15rem); }

/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/
