.header {
    height: 100px;
    padding: 0 20px;
    color: var(--black-color);
}

.image-section {
    height: 100%;
    vertical-align: middle;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}