.image-section {
    height: 100%;
    vertical-align: middle;
    font-family: georgia, serif;
    clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    &__text-box {
        position: absolute;
        text-align: center;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__logo-box {

        img {
            width: 100%;
        }

    }
}

.section-about {
    background-color: car(--grey-dark-3);
    padding: 3rem 0 25rem;
}